@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
body{
  background: #000;;
}
h1,
a,
h4,
p{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248,217,15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background-color: transparent;
  color: #fff;
}
.btn:hover{
  background: rgb(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}
